*.html linguist-language=R
*.Rdata binary
*.RData binary
*.rda   binary
*.rdb   binary
*.rds   binary
*.Rd    linguist-language=R
*.Rdx   linguist-language=R
*.Rmd	  linguist-language=R
*.R  	  linguist-language=R
*.Rproj linguist-language=R
